{% extends 'main/layout.html' %}
{% block title %}FeynmanIt | Dashboard {% endblock %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'main/css/item-styling.css' %}" type="text/css">
<style>
    #dashboard-body {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .action {
        width: fit-content;
        position: absolute;
        transform: rotate(45deg);
        right: -10%;
        top: 5%;
        color: white;
        height: fit-content;
    }
    .action p {
        font-size: .7em;
        padding: .2em 2em;
    }
    .add {
        background: green;
    }
    .delete {
        background: darkred;
    }
    .edit {
        background: gray;
    }
    .redacted{
        position: absolute;
        width: 50%;
        background: gray;
        height: .4em;
        top: 50%; right: 50%;
        transform: translate(50%, -50%);
    }
    .action-container {
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0;
        clip-path: inset(0px 0px 0px 0px);
    }
</style>
{% endblock %}
{% block body %}
<h1>Dashboard</h1>
<section aria-label="Dashboard body" id="dashboard-body">
    <section>
        <h2>Recent Note Actions</h2>
        {% if notes %}
            {% for note in notes %}
                {% if note.action == 'delete' %}
                    <a href="#" class="item item-animate">
                        <div class="action-container">
                            <div class="action {{note.action}}"><p>{{note.action}}</p></div>
                        </div>
                        <div class="item-shader hidden"></div>
                        <div class="understand-bar {% if note.understand %}understand{% endif %}"></div>
                        <h5><span class="redacted"></span>{{note.title }}</h5>
                    </a>
                {% else %}
                    <a href="{% url 'view_note' note.id %}" class="item item-animate">
                        <div class="action-container">
                            <div class="action {{note.action}}"><p>{{note.action}}</p></div>
                        </div>
                        <div class="item-shader hidden"></div>
                        <div class="understand-bar {% if note.understand %}understand{% endif %}"></div>
                        <h5>{{ note.title }}</h5>
                    </a>
                {% endif %}
            {% endfor %}
        {% else %}
        <p>Nothing here yet.</p>
        {% endif %}
    </section>
    <section>
        <h2>Recent Folder Actions</h2>
        {% if folders %}
            {% for folder in folders %}
                {% if folder.action == 'delete' %}
                    <a href="#" class="item item-animate folder">
                        <div class="action-container">
                            <div class="action {{folder.action}}"><p>{{folder.action}}</p></div>
                        </div>
                        <div class="item-shader hidden"></div>
                        <h5><span class="redacted"></span>{{ folder.title }}</h5>
                    </a>
                {% else %}
                    <a href="{% url 'view_folder' folder.id %}" class="item item-animate folder">
                        <div class="action-container">
                            <div class="action {{folder.action}}"><p>{{folder.action}}</p></div>
                        </div>
                        <div class="item-shader hidden"></div>
                        <h5>{{ folder.title }}</h5>
                    </a>
                {% endif %}
            {% endfor %}
        {% else %}
        <p>Nothing here yet.</p>
        {% endif %}
    </section>
</section>
{% endblock %}
