{% extends 'main/note_layout.html' %}
{% block title %}Edit Note{% endblock %}
{% block container_start %}
<form action="{% url 'edit_note' note.id %}" method="POST">
{% csrf_token %}
{% endblock %}
{% block note_title %}
<tr>
    <th>{{ form.title.label }}</th>
    <td>{{ form.title }}</td>
</tr>
{% endblock %}
{% block iterations_one %}
<div class="iteration-input">
    {{ form.step_one_iterations }}
    <button class="add-button" type="button" data-which='iterations_one' data-length={{note.iterations_one|length}}>Add Iteration</button>
</div>
{% endblock %}
{% block form_links %}
<div class="iteration-input">
    {{ form.links }}
    <button class="add-button" type="button" data-which='links' data-length={{note.links|length}}>Add Link</button>
</div>
{% endblock %}
{% block step_two_iterations %}
<div class="iteration-input">
    {{ form.step_two_iterations }}
    <button class="add-button" type="button" data-which='iterations_two' data-length={{note.iterations_two|length}}>Add Iteration</button>
</div>
{% endblock %}
{% block rest %}
<tr>
    <th>{{ form.step_three.label }}</th>
    <td>{{ form.step_three }}</td>
</tr>
<tr>
    <th>{{ form.understand.label }}</th>
    <td>{{ form.understand }}</td>
</tr>
<tr>
</tr>
{% endblock %}
{% block container_end %}
</form>
<button class="submit">Save</button>
{% endblock %}

{% block scripts %}
<script>
    const form = document.querySelector('form');
    const addButtons = document.querySelectorAll('.add-button');

    var iterations = {'iterations_one': [], 'links': [], 'iterations_two': []}; 

    function addItem(object) {
        const target = object.target;
        target.dataset.length = parseInt(target.dataset.length) + 1;

        const container = document.createElement('div');
        container.classList.add('table-data')

        const iterationHeader = document.createElement('h4');
        iterationHeader.innerText = `Iteration: ${target.dataset.length}`;

        const input = target.previousElementSibling;

        const p = document.createElement('p');
        p.innerText = input.value;

        container.appendChild(iterationHeader)
        container.appendChild(p)

        target.parentElement.parentElement.insertBefore(container, target.parentElement)
        if (target.dataset.added == null) {
            // for empty values, if p (No iterations) exist then remove it
            target.parentElement.parentElement.removeChild(target.parentElement.parentElement.querySelector('p'))
            target.dataset.added = true;
        }

        iterations[target.dataset.which] = iterations[target.dataset.which].concat(input.value);

        input.value = "";
    }

    addButtons.forEach(item => {
        item.addEventListener('click', addItem)
    })

    document.querySelector('.submit').addEventListener('click', function() {
        addButtons.forEach(item => {
            if (item.dataset.added) {
                item.previousElementSibling.value = JSON.stringify(iterations[item.dataset.which]);
            }
        })
        form.submit()
    })
</script>
{% endblock %}