{% extends 'main/note_layout.html' %}
{% block title %}Edit Note{% endblock %}
{% block container_start %}
{{ form.errors }}
<section id="edit-iteration-container" class="hidden">
    <div style="display: flex; align-items: center; flex-direction: column;">
        <input type="text" name="title" class="hidden">
        <textarea name="text" class="edit" cols="30" rows="10"></textarea>
    </div>
    <button type="button" class="save-edit">Save Edit</button>
    <button type="button" class="close">Close</button>
</section>
<form action="{% url 'edit_note' note.id %}" method="POST" id="note-edit-form">
{% csrf_token %}
{% endblock %}
{% block note_title %}
<tr>
    <th><h2>{{ form.title.label }}</h2></th>
    <td>{{ form.title }}</td>
</tr>
{% endblock %}
{% block iterations_one %}
<div class="iteration-input">
    {{ form.step_one_iterations }}
    <button class="add-button" type="button" data-which=1 data-length={{note.iterations_one|length}}>Add Iteration</button>
</div>
{% endblock %}
{% block form_links %}
<div class="iteration-input">
    <div style="display: flex; width: 100%;">
        <!-- <label for="forwhich">Link for iteration: </label> -->
        <select name="forwhich" id="forwhich">
            <option value="0">General</option>
            {% for iteration in note.iterations_one %}
            <option value="{{ forloop.counter }}">Iteration {{ forloop.counter }}</option>
            {% endfor %}
        </select>
        <input type="text" placeholder="Link Title" id="link-title" style="width: 100%;">
    </div>
    {{ form.links }}
    <button class="add-button" type="button" data-which=0 data-length={{note.links|length}}>Add Link</button>
</div>
{% endblock %}
{% block step_two_iterations %}
<div class="iteration-input">
    {{ form.step_two_iterations }}
    <button class="add-button" type="button" data-which=2 data-length={{note.iterations_two|length}}>Add Iteration</button>
</div>
{% endblock %}
{% block step_three %}
    <td class="table-data-container">{{ form.step_three }}</td>
{% endblock %}
{% block container_end %}
<tr>
    <th>{{ form.understand.label }}</th>
    <td>{{ form.understand }}</td>
</tr>
</form>
<button class="submit" id="note-edit-button">Save</button>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'main/js/edit_note.js' %}"></script>
{% endblock %}