{% extends 'main/layout.html' %}
{% block style %}
th {
    margin: 0;
    padding: 0;
}
tr {
    margin: 0;
}
#new-folder-form {
    margin-bottom: 2em;
}
{% endblock %}
{% block title %}Folders{% endblock %}
{% block body %}
<form action="{% url 'new_folder' %}" method="POST" id="new-folder-form">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <button type="submit">Add Folder</button>
</form>
<section id="notes">
{% if folders|length > 0 %}
{% for folder in folders %}
<div class="note">
    <a href="{% url 'view_folder' folder.id %}"><h3>{{ folder.title }}</h3></a>
    <p class="helper" style="color: white;">Contains {{ folder.notes_length }} note(s)</p>
</div>
{% endfor %}
{% else %}
<p>No folders.</p>
{% endif %}
</section>
{% endblock %}