{% extends 'main/layout.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'main/css/item-styling.css' %}" type="text/css">
<style>
th {
    margin: 0;
    padding: 0;
}
tr {
    margin: 0;
}
#new-folder-form {
    margin-bottom: 2em;
}
</style>
{% endblock %}
{% block title %}Folders{% endblock %}
{% block body %}
<section id="items-flex-container">
{% if folders|length > 0 %}
{% for folder in folders %}
<a href="{% url 'view_folder' folder.id %}" class="item item-animate folder">
    <div class="item-shader hidden"></div>
    <h5>{{ folder.title }}</h5>
    <p class="helper">Contains {{ folder.notes_length }} note(s)</p>
</a>
{% endfor %}
{% load layout_tags %}
{% if request.user|has_permission:'main.add_folder' %}
<div class="item">
    <button class="item-add">+</button>
    <form action="{% url 'new_folder' %}" class="new-item-form hidden" method="POST">
        <div class="item-shader"></div>
        {% csrf_token %}
        <div class="form-item">
            <p>Title: </p>
            <div class="input-add-container">
                {{ form.title }}
                <button type="submit">Create</button>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% else %}
<p>No folders.</p>
{% endif %}
</section>
{% endblock %}
{% block scripts %}
<script src="{% static 'main/js/item-animation.js' %}"></script>
{% endblock %}