{% extends 'main/layout.html' %}
{% block title %}Notes{% endblock %}
{% block style %}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}
.note {
    background: gray;
    color: black;
    text-align: center;
}
{% endblock %}
{% block body %}
<main>
    <h1>Notes</h1>
    {% load layout_tags %}
    {% if request.user|has_permission:'main.add_note' %}
    <form action="{% url 'new_note' %}" id='new-note-form'>
        {% csrf_token %}
        <table>
            {{ new_note_form.as_table }}
        </table>
        <button type="submit">Create</button>
    </form>
    {% endif %}
    <section id="notes">
        {% for note in notes %}
        <div class="note">
            <h2>{{ note.title }}</h2>
            {% if request.user|has_permission:'main.change_note' %}
            <button>Edit</button>
            {% endif %}
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}
{% block scripts %}
<script>
    const notesContainer = document.querySelector('#notes');
    const newNoteTitle = document.querySelector('#id_title');
    const newNoteBody = newNoteTitle.parentElement.parentElement.parentElement;
    const newNoteButton = document.querySelector('#new-note-form button');

    newNoteTitle.addEventListener('keydown', function(e) {
        if (this.value.length > 0 && newNoteBody.children.length >= 2) {
            newNoteBody.removeChild(newNoteBody.lastChild)
            if (newNoteButton.disabled) {
                newNoteButton.disabled = false;
            }
        }
    })

    function addNote(id, title) {
        const container = document.createElement('div'); 
        container.classList.add('note')
        const h2 = document.createElement('h2'); 
        h2.innerText = title;
        container.appendChild(h2)
        const editForm = document.createElement('form');
        editForm.setAttribute('action', `/notes/${id}`)
        const editButton = document.createElement('button');
        editButton.setAttribute('type', 'submit')
        editButton.innerText = 'Edit'
        editForm.appendChild(editButton)
        container.appendChild(h2)
        container.appendChild(editForm)
        notesContainer.appendChild(container)
    }

    document.querySelector('#new-note-form').addEventListener('submit', function(e) {
        e.preventDefault()
        newNoteButton.disabled = true;
        fetch(this.getAttribute('action'), {
            method: 'POST', 
            mode: 'same-origin',
            headers: new Headers({
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                'Content-Type': 'application/json'
            }), 
            body: JSON.stringify({
                'title': newNoteTitle.value
            })
        })
        .then(async r => {
            const data = await r.json(); 
            if (r.status == 200) {
                console.log(r)
                addNote(data.id, data.title)
                newNoteButton.disabled = false;
            } else if (r.status == 400) {
                for (const error_key in data.errors) {
                    const error = document.createElement('p');
                    error.innerText = data.errors[error_key];
                    const row = document.createElement('tr');
                    const th = document.createElement('th');
                    const td = document.createElement('td');
                    td.appendChild(error)
                    row.appendChild(th)
                    row.appendChild(td)
                    newNoteBody.appendChild(row)
                }
            }
        })
        .catch(e => {console.log(e)})
    })
</script>
{% endblock %}
