<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/layout.css' %}">
    <style>
    {% block style %}{% endblock %}
    </style>
</head>
<body>
    <nav>
        <h3>FeynmanIt</h3>
        <section>
            <label id="responsive-nav-button" class="display-none">|||</label>
            <ul class="display-none">
                {% load layout_tags %}
                {% if request.user.is_authenticated %}
                {% define True as lis %}
                {% else %}
                {% define False as lis %}
                {% endif %}
                {% for li in lis %}
                {% with path=li|get_path %}
                <li class="{% if path in request.path %}current{% endif %}"><a href="{{ path }}">{{ li }}</a></li>
                {% endwith %}
                {% endfor %}
            </ul>
        </section>
    </nav>
    <main>
    {% block body %}{% endblock %}
    </main>
    <footer>
        <section>
            <h2>FeynmanIt</h2>
            <div class="navigation">
                <ul class="footer-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Technique</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="footer-list">
                    <li><a href="#">Folders</a></li>
                    <li><a href="#">Notes</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
                {% if not request.user.is_authenticated %}
                <ul class="footer-list">
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Log In</a></li>
                </ul>
                {% endif %}
            </div>
        </section>
        <p id="quote">Anything is possible.</p>
        <section class="socials">
            <div class="social"></div>
            <div class="social"></div>
            <div class="social"></div>
        </section>
        <p class="copyright">© 2021 Mario Molinito. All rights reserved.</p>
    </footer>
    {% block scripts %}{% endblock %}
    <script>
        if (document.body.clientWidth <= 500) {
            document.addEventListener('DOMContentLoaded', function() {
                const navButton = document.querySelector('#responsive-nav-button');
                navButton.addEventListener('click', function() {
                    navButton.nextElementSibling.classList.toggle('display-none');
                })
            })
        } else {
            document.querySelector('nav').querySelector('ul').classList.remove('display-none')
        }
    </script>
</body>
</html>