<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Mario Molinito">
    <meta name="description" content="This application was created with the intention of implementing the infamous learning technique called “The Feynman Technique”. As a way to provide others a chance to truly learn and understand topics from the comfort of their electronical devices.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeynmanIt | {% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet preload" type="text/css" media="all" href="{% static 'main/css/layout.css' %}">
    {% block style %}{% endblock %}
    <link rel="stylesheet" media="screen and (max-width: 1300px)" type="text/css" href="{% static 'main/css/media.css' %}">
</head>
<body>
    <!-- GROUP OF NAVIGATION LINKS -->
    <nav>
        <img src="{% static 'main/images/logo.svg' %}" alt="Brain Image" width="50px" height="50px">
        <section>
            <label id="responsive-nav-button" class="display-none">|||</label>
            <ul>
                {% load layout_tags %}
                {% if request.user.is_authenticated %}
                {% define True as lis %}
                {% else %}
                {% define False as lis %}
                <li><a href="https://{{DOMAIN}}/authorize?audience=feynamnit&response_type=token&client_id={{AUTH_CLIENTID}}&redirect_uri={{AUTH_REDIRECT_DOMAIN}}login-result">Log In / Register</a></li>
                {% endif %}
                {% for li in lis %}
                {% with path=li|get_path %}
                <li class="{% if path in request.path %}current{% endif %}"><a href="{{ path }}">{{ li }}</a></li>
                {% endwith %}
                {% endfor %}
            </ul>
        </section>
    </nav>
    {% if messages %}
    <section id="messages">
        {% for message in messages %}
        <div class="message {{message.tags}}">
            <h5>{{message}}</h5>
        </div>
        {% endfor %}
    </section>
    {% endif %}
    <!-- MAIN CONTENT OF THE PAGE -->
    <main>
    {% block body %}{% endblock %}
    </main>

    <!-- WEBSITES FOOTER -->
    <footer>
        <section>
            <h2>FeynmanIt</h2>
            <div class="navigation">
                {% with isauth=request.user.is_authenticated %}
                    {% with ignoreauth='?ignore_authentication=True' %}
                <ul class="footer-list">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'home' %}#about">About</a></li>
                    <li><a href="{% url 'home' %}#howto">How To use</a></li>
                    <li><a href="{% url 'home' %}#contact">Contact</a></li>
                </ul>
                <ul class="footer-list">
                    <li><a href="{% url 'folders' %}">Folders</a></li>
                    <li><a href="{% url 'notes' %}">Notes</a></li>
                    <!-- <li><a href="#">Profile</a></li> -->
                </ul>
                    {% endwith %}
                {% endwith %}
                <ul class="footer-list">
                {% if not request.user.is_authenticated %}
                    <li><a href="https://{{DOMAIN}}/authorize?audience=feynamnit&response_type=token&client_id={{AUTH_CLIENTID}}&redirect_uri={{AUTH_REDIRECT_DOMAIN}}login-result">Log In</a></li>
                {% else %}
                    <li><a href="{{ ''|get_logout_url }}">Logout</a></li>
                {% endif %}
                </ul>
            </div>
        </section>
        <menu class="socials">
            <div class="social"></div>
            <div class="social"></div>
            <div class="social"></div>
        </menu>
        <p class="copyright">© 2021 Mario Molinito. All rights reserved.</p>
    </footer>
    {% block scripts %}{% endblock %}
    <script>
        if (document.body.clientWidth <= 500) {
            document.addEventListener('DOMContentLoaded', function() {
                const navButton = document.querySelector('#responsive-nav-button');
                navButton.addEventListener('click', function() {
                    const ul = navButton.nextElementSibling;
                    ul.style.display = ul.style.display == 'none' ? 'initial' : 'none';
                })
            })
        }
    </script>
</body>
</html>
