{% extends 'main/layout.html' %}
{% block body %}
{% block container_start %}{% endblock %}
<table id="item-table">
    {% block note_title %}
    {% endblock %}
    <tr>
        <th><h3>1: Existing Knowledge</h3></th>
        <td class="table-data-container" id="step_one_iterations_container">
            {% if note.step_one_iterations %}
                {% for iteration in note.step_one_iterations %}
                <div class="table-data note-iteration" data-id={{iteration.id}} data-iteration={{forloop.counter}}>
                    <h4><span class="iteration-count">({{ forloop.counter }})</span> <span class="iteration-title">{{ iteration.title }}</span></h4>
                    <div class="data">
                        <p class="iteration-text">{{ iteration.text }}</p>
                        {% if 'edit' in request.path %}
                        <button type="button" class="edit-iteration">Edit</button>
                        <button type="button" class="delete-iteration dangerous">Delete</button>
                        {% endif %}
                        <hr class="links-separator">
                        <div class="links">
                            {% if iteration.links %}
                                {% for link in iteration.links %}
                                <div class="link-container" data-linkid={{link.id}}>
                                    <div class="data">
                                        <a href="{{ link.href }}" target="_blank">{{ link.title }}</a>
                                        {% if 'edit' in request.path %}
                                        <button type="button" class="edit-link">Edit</button>
                                        <button type="button" class="delete-link">Delete</button>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <p class="nomessage">No links.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p class="nomessage">No iterations</p>
            {% endif %}
            {% block iterations_one %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <th style="padding-bottom: 0em;"><h3>1a: Links</h3></th>
        <td id="links-data" class="table-data-container">
            {% load layout_tags %}
            {% with links=note.links %}
            <div class="table-data" id="general-links">
                <h4>General Links</h4>
                <p class="helper">Links that apply to all iterations.</p>
                <div class="links">
                {% if note.general_links %}
                    {% for link in note.general_links %}
                        <div class="link-container" data-linkid={{link.id}}>
                            <div class="data">
                                <a href="{{ link.href }}" target="_blank">{{ link.title }}</a>
                                {% if 'edit' in request.path %}
                                <button type="button" class="edit-link">Edit</button>
                                <button type="button" class="delete-link">Delete</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                        <p class="nomessage">No links.</p>
                {% endif %}
                </div>
            </div>
            {% endwith %}
            {% block form_links %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <th><h3>2: Gaps in explanation</h3></th>
        <td class="table-data-container" id="step_two_iterations_container">
            {% if note.step_two_iterations %}
                {% for iteration in note.step_two_iterations %}
                    <div class="table-data note-iteration" data-id={{iteration.id}} data-iteration={{forloop.counter}}>
                        <h4><span class="iteration-count">({{ forloop.counter }})</span> <span class="iteration-title">{{ iteration.title }}</span></h4>
                        <div class="data">
                            <p class="iteration-text">{{ iteration.text }}</p>
                            {% if 'edit' in request.path %}
                            <button type="button" class="edit-iteration">Edit</button>
                            <button type="button" class="delete-iteration dangerous">Delete</button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="nomessage">No iterations</p>
            {% endif %}
            {% block step_two_iterations %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <th>3: Final Statement</th>
        {% if 'edit' not in request.path %}
            <td class="table-data-container" style="text-align: left;">
            {% if note.step_three|length > 0 %}
                <p>{{ note.step_three }}</p>
            {% else %}
                <p class="nomessage">No final statement.</p>
            {% endif %}
            </td>
        {% endif %}
        {% block step_three %}
        {% endblock %}
    </tr>
    {% block rest %}
    {% endblock %}
</table>
{% block container_end %}{% endblock %}
{% endblock %}
{% block scripts %}
{% load static %}
<script async src="{% static 'main/js/note-animation.js' %}"></script>
{% endblock %}