{% extends 'main/layout.html' %}
{% block body %}
{% block container_start %}{% endblock %}
<table id="item-table">
    {% block note_title %}
    {% endblock %}
    <tr>
        <th><h3>1: Existing Knowledge</h3></th>
        <td class="table-data-container">
            {% if note.iterations_one %}
            {% for iteration in note.iterations_one %}
            <div class="table-data note-iteration" data-iteration={{forloop.counter}} data-which=1>
                <h4>Iteration: {{ forloop.counter }}</h4>
                <div class="data">
                    <p>{{ iteration }}</p>
                    {% if 'edit' in request.path %}
                    <button type="button" class="edit-iteration">Edit</button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No iterations</p>
            {% endif %}
            {% block iterations_one %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <th style="padding-bottom: 0em;"><h3>1a: Links</h3></th>
        <td id="links-data" class="table-data-container">
            {% load layout_tags %}
            {% with l=note.links %}
            <div class="table-data">
                <h4>General Links</h4>
                <p class="helper">Links that apply to all iterations.</p>
                    {% if l|length != '0' %}
                        {% for link in l|get_value:'0' %}
                        <div class="data" data-forwhich={{link|get_value:0}} data-iteration={{link|get_value:3}} data-which=0>
                            <a href="{{ link|get_value:2 }}" target="_blank">{{ link|get_value:1 }}</a>
                            {% if 'edit' in request.path %}
                            <button type="button" class="edit-iteration">Edit</button>
                            {% endif %}
                        </div>
                        {% endfor %}
                    {% endif %}
            </div>
            {% for iteration in l %}
            {% if iteration != '0' %}
            <div class="table-data">
                <h4>Links for iteration: {{ iteration }}</h4>
                {% for link in l|get_value:iteration %}
                <div class="data" data-forwhich={{link|get_value:0}} data-iteration={{link|get_value:3}} data-which=0>
                    <a href="{{ link|get_value:2 }}" target="_blank">{{ link|get_value:1 }}</a>
                    {% if 'edit' in request.path %}
                    <button type="button" class="edit-iteration">Edit</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
            {% endwith %}

            {% block form_links %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <th><h3>2: Gaps in explanation</h3></th>
        <td class="table-data-container">
            {% if note.iterations_two %}
            {% for iteration in note.iterations_two %}
            <div class="table-data note-iteration" data-iteration={{forloop.counter}} data-which=2>
                <div class="data">
                    <h4>Iteration: {{ forloop.counter }}</h4>
                    <p>{{ iteration }}</p>
                </div>
                {% if 'edit' in request.path %}
                <button type="button" class="edit-iteration">Edit</button>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <p>No iterations</p>
            {% endif %}
            {% block step_two_iterations %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <th>3: Final Statement</th>
        {% if 'edit' not in request.path %}
            <td class="table-data-container" style="text-align: left;">
            {% if note.step_three|length > 0 %}
                <p>{{ note.step_three }}</p>
            {% else %}
                <p>No final statement.</p>
            {% endif %}
            </td>
        {% endif %}
        {% block step_three %}
        {% endblock %}
    </tr>
    {% block rest %}
    {% endblock %}
</table>
{% block container_end %}{% endblock %}
{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'main/js/note-animation.js' %}"></script>
{% endblock %}