{% extends 'main/layout.html' %}
{% block body %}
{% block container_start %}{% endblock %}
<table>
    {% block note_title %}
    {% endblock %}
    <tr>
        <th><h2>1: Write what you know</h2></th>
        <td>
            {% if note.iterations_one %}
            {% for iteration in note.iterations_one %}
            <div class="table-data">
                <h4>Iteration: {{ forloop.counter }}</h4>
                <p>{{ iteration }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>No iterations so far.</p>
            {% endif %}
            {% block iterations_one %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <th><h2>1: Links</h2></th>
        <td>
            {% if note.links %}
            {% for iteration in note.links %}
            <div class="table-data">
                <!-- Links for iteration {iteration here} -->
                <p>{{ iteration }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>No links</p>
            {% endif %}
            {% block form_links %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <th>2: Identify gaps in explanation</th>
        <td>
            {% if note.iterations_two %}
            {% for iteration in note.iterations_two %}
            {{forloop.counter}}
            <div>{{ iteration }}</div>
            {% endfor %}
            {% else %}
            <p>No iterations so far</p>
            {% endif %}
            {% block step_two_iterations %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <th>3: Final Statement</th>
        <td>{{ note.step_three }}</td>
    </tr>
    {% block rest %}
    {% endblock %}
</table>
{% block container_end %}{% endblock %}
{% endblock %}