{% extends 'main/layout.html' %}
{% block title %}FeynmanIt | Profile{% endblock %}
{% block style %}
<style>
    .heatmap_data {
        min-height: 10px; min-width: 10px;
        height: 10px; width: 10px;
        background: gray;
        border: 1px solid black; 
        transition: .1s ease;
        position: relative;
    }

    /* Layout for information seen when data is hovered */
    .hdata_info {
        position: absolute;
        background: black;
        color: white;
        padding: .5em;
        top: 2%;
        left: 2%;
        font-size: .5;
        display: none;
    }


    /* COLORS FOR THE DATA */
    .hdata_nothing {
        opacity: .5;
    }
    .hdata_lessquarter {
        background: lightgreen; 
    }
    .hdata_half {
        background: rgb(63, 116, 63);
    }
    .hdata_quarterhalf {
        background: rgb(44, 84, 44);
    }
    .hdata_full {
        background: rgb(0, 45, 0);
    }
    .heatmap_data:hover {
        opacity: .8;
        transform: scale(.9);
    }
    .month {
        font-size: .8em;
        color: var(--main);
    }
</style>
{% endblock %}
{% block body %}
{% load layout_tags %}
<table>
    <thead>
        <tr>
            <th colspan=7>HeatMap for <span class="month">{{ month }}</span></th>
        </tr>
        <tr>

            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>

        </tr>
    </thead>
    <tbody>
        {% for week in heatmap %}
        <tr>
            {% for day in week %}
            {% with activity=day|get_value:1 %}
            <td class="heatmap_data {% if day|get_value:0 is None %}hdata_nothing{% endif %} {% if activity > 0 and activity <= .25 %}hdata_lessquarter{% endif %} {% if activity >= .25 and activity <= .50 %}hdata_half{% endif %} {% if activity >= .50 and activity <= .75 %}hdata_quarterhalf{% endif %} {% if activity >= .75 and activity <= 1 %}hdata_full{% endif %}">
                {% if activity > 0 %}
                <div class="hdata_info">
                    <p>Completed {{ day|get_value:2 }}</p>
                </div>
                {% endif %}
            </td>
            {% endwith %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.hdata_info').forEach(item => {
            item.parentElement.addEventListener('mouseenter', function() {
                item.parentElement.style.zIndex = 1000;
                item.style.display = "initial";
            })
            item.parentElement.addEventListener('mouseleave', function() {
                item.parentElement.style.zIndex = 1;
                item.style.display = "none";
            })
        })
    })
</script>
{% endblock %}