{% extends 'main/note_layout.html' %}
{% block title %}Viewing Note{% endblock %}
{% block style %}
{% load static %}
<link rel="stylesheet preload" href="{% static 'main/css/note-styling.css' %}" type="text/css">
<link rel="stylesheet preload" href="{% static 'main/css/table-styles.css' %}" type="text/css">
{% endblock %}
{% block container_start %}
<h1>{{ note.title }}</h1>
<div style="display: flex;">
    {% if note.understand %}
    <button class="static-button" style="background: var(--accent-two); color: white;">Understand</button>
    {% else %}
    <button class="static-button" style="background: var(--accent-three); color: white;">Learning</button>
    {% endif %}
    <button class="static-button" style="margin-left: .5em; background: orange; color: white;">In folder: <strong>{{ note.folder_title }}</strong></button>
</div>
{% endblock %}

{% block container_end %}
{% if note.owner == request.user %}
<form action="{% url 'edit_note' note.id %}" method="GET">
    <button type="submit" id="note-edit-button">Edit</button>
</form>
{% endif %}
{% endblock %}