{% extends 'main/layout.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet preload" href="{% static 'main/css/item-styling.css' %}" type="text/css">
<style>
tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em 0 0 0;
}
th {
    padding: 0 1em 0 0;
}
</style>
{% endblock %}
{% block title %}Viewing Folder{% endblock %}
{% block body %}
<h2>{{ folder.title }}</h2>
<form action="{% url 'view_folder' folder.id %}" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <button type="submit">Add Notes</button>
</form>

<h4>Notes in folder</h4>
<section id="items-flex-container">
    {% for note in notes %}
    <a href="{% url 'view_note' note.id %}" class="item item-animate">
        <div class="item-shader hidden"></div>
        <div class="understand-bar {% if note.understand %}understand{% endif %}"></div>
        <h5>{{ note.title }}</h5>
    </a>
    {% endfor %}
</section>

<form action="{% url 'delete_folder' folder.id %}" method="POST">
{% csrf_token %}
{% if folder.notes_length > 0 %}
    <button type="submit" class="dangerous">Clear Folder</button>
{% else %}
    <p>No notes</p>
    {% if folder.title != 'Deleted' and folder.title != 'All' %}
        <button type="submit" class="dangerous">Delete Folder</button>
    {% endif %}
{% endif %}
</form>
{% endblock %}