{% extends 'main/layout.html' %}
{% block style %}
tr {
    flex-direction: row;
    align-items: flex-start;
}
th {
    padding: 0 1em 0 0;
}
{% endblock %}
{% block title %}{{ folder.title }}{% endblock %}
{% block body %}
<h2>{{ folder.title }}</h2>
<form action="{% url 'view_folder' folder.id %}" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <button type="submit">Add Notes</button>
</form>

<main>
    <section id="notes">
        {% for note in notes %}
        <div class="note">
            <a href="{% url 'view_note' note.id %}"><h2>{{ note.title }}</h2></a>
        </div>
        {% endfor %}
    </section>
    <form action="{% url 'delete_folder' folder.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Delete Folder</button>
    </form>
</main>

{% endblock %}