{% extends 'main/note_layout.html' %}
{% block title %}Viewing Note{% endblock %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/note-styling.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'main/css/table-styles.css' %}" type="text/css">
{% endblock %}
{% block container_start %}
<h1>{{ note.title }}</h1>
{% if note.understand %}
<button class="static-button success">Understand</button>
{% else %}
<button class="static-button learning">Learning</button>
{% endif %}
{% endblock %}

{% block container_end %}
{% if note.owner == request.user %}
<form action="{% url 'edit_note' note.id %}" method="GET">
    <button type="submit" id="note-edit-button">Edit</button>
</form>
{% endif %}
{% endblock %}