{% extends 'main/layout.html' %}
{% block style %}
tr {
    flex-direction: row;
    align-items: flex-start;
}
th {
    padding: 0 1em 0 0;
}
{% endblock %}
{% block title %}{{ folder.title }}{% endblock %}
{% block body %}
<h2>{{ folder.title }}</h2>
<form action="{% url 'view_folder' folder.id %}" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <button type="submit">Add Notes</button>
</form>

<main>
    <h4>Notes in folder</h4>
    <section id="items-flex-container">
        {% for note in notes %}
        <div class="item">
            <a href="{% url 'view_note' note.id %}"><h2>{{ note.title }}</h2></a>
        </div>
        {% endfor %}
    </section>

    <form action="{% url 'delete_folder' folder.id %}" method="POST">
    {% csrf_token %}
    {% if folder.notes_length > 0 %}
        {% if folder.title == 'Deleted' or folder.title == 'All' %}
            <button type="submit">Clear Folder</button>
        {% else %}
            <button type="submit">Clear Folder</button>
        {% endif %}
    {% else %}
        <p>No notes</p>
        {% if folder.title != 'Deleted' and folder.title != 'All' %}
            <button type="submit">Delete Folder</button>
        {% endif %}
    {% endif %}
    </form>
</main>

{% endblock %}