nav { padding: 2em; background: transparent; position: absolute; top: 0; left: 0; }
#messages { position: absolute; }
main { margin: 0; width: 100%; }
main .section {
    padding: 2em 0; margin: 2em 0;
}
/* Start of Intro Styling */
#about {
    background-color: #05330C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23747474' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%236E6E6E'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    color: white;
    min-width: 100%;
    max-width: 100%;
    padding: 25vh 0;
    text-align: center;
}
#about h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
}
#about p {
    max-width: 50%;
    margin: 0 auto;
    cursor: help;
}
#link-inputs {
    margin-bottom: .5em; 
    display: flex; 
    align-items: center; 
    width: 100%; 
    text-align: left;
}
#link-inputs div:first-child {
    flex-grow: 1;
}
#link-inputs div:nth-of-type(even) {
    flex-grow: 100;
}
/* End of Intro Styling */

/* Start of What Styling */
.what-information {
    width: 70%; margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.combined-image {
    height: 25em; width: fit-content;
}
.what-information-container {
    width: 70%;
    display: flex; flex-wrap: wrap;
    justify-content: space-around;
}
.what-data {
    flex-grow: 1;
    text-align: left;
    width: 30%; 
    padding: 0 .5em;
}
.what-data h3 {
    margin: .5em 0;
}
.what-data p {
    color: #4d4a4a;
}
#what h2 {
    padding-bottom: 1em;
}

/* Start of How To Styling */
#howto { margin-top: 2em; padding: 2em 0; max-width: 70%; background: linear-gradient(var(--main), black); color: white; border-radius: 1em; box-shadow: 0em 0em 3em black; }
#howto h2 {
    max-width: 90%;
    word-break: keep-all;
    margin: 0 auto;
}
.step {
    max-width: 50%;
    margin: 1em auto;
}
.step-information-container {
    margin: .5em 0;
    display: flex;
    align-items: flex-start;
}
.step-button {
    padding: 1em 1.5em;
    background: var(--main);
    color: white;
    border-radius: 50%;
    font-weight: 900;
    font-size: 1.3em;
    box-shadow: 0 0 1em black;
}
.step-information {
    text-align: left;
    margin-left: 1em;
}
.step-gradient {
    background: linear-gradient(to right, lightgreen, darkgreen);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.step-iteration {
    color: darkgrey;
    font-family: 'Times New Roman', Times, serif;
}
.step-bar {
    display: block;
    height: .5em;
    width: 1.5em;
    background: black;
}
.step-example {
    background: linear-gradient(#535353, #3d3d3d);
    text-align: left;
    margin: 0 auto; padding: 2em;
    margin-top: 1em;
    border-radius: 1em;
}
.continue-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    margin: 1em auto;
}
.example-continue-button {
    border-radius: 50%;
    padding: .5em .5em;
    background: black;
}
.example-continue-button:nth-last-child(1) {
    margin: 0;
}
.example-input {
    background: var(--main);
    height: 5em;
    color: white;
    padding: 1em 2em;
    font-size: .7em;
}
.example-submit-button {
    background: white;
    border-radius: 1em;
    padding: .5em 1.5em;
    width: 1%;
    float: right;
    margin-top: .3em;
}
.step:nth-child(2n+1) {
    margin: 5em auto;
}

ol li { list-style-type: decimal-leading-zero; font-size: .9em; margin: .5em 0; }
.helper {
    color: lightgrey;
}
/* End of How To Styling */

/* Start of Contact Styling */
#contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--main-two);
    min-height: 5em;
    padding: 2em;
    box-sizing: border-box;
}
/* End of Contact Styling */

a:hover {
    color: white;
    opacity: .8;
}