:root {
    --accent: #134812;
    --main: #262525;
    --main-two: #F4A261;
    --accent-two: #2A9D8F;
    --accent-three: #E76F51;
    scroll-behavior: smooth;
}
::selection {
    background: var(--accent);
    color: var(--main);
}

/* General Styling */
/* removing default margin from nodes */
html, body, nav, ul, p, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}
li { list-style-type: none; line-height: 1em; }
a { color: white; text-decoration: none; }
a:hover { text-decoration: underline; }
.hidden { z-index: -1; user-select: none; opacity: 0% !important; }
.display-none { display: none; }
body {
    font-family: 'Poppins', sans-serif;
    background: lightgrey;
    overflow-x: hidden;
    height: 100vh;
}
#note-edit-form { width: 100%; }
#note-edit-button {
    position: absolute;
    right: 5%;
    bottom: 5%;
    transition: background .5s ease; 
}
#note-edit-button:hover {
    background: gray;
}
.dangerous {
    background: red;
    color: darkred;
}
.static-button:hover { transform: none; cursor: default; }
a:hover { color: gray; }
.helper { color: gray; font-size: .7em; }
main {
    min-height: 65%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    padding: 2em 0;
    position: relative;
}
button {
    border: none;
    padding: .2em 2em; margin: .5em 0;
    border-radius: 1em;
    font-size: .7em;
    transition: transform .5s ease;
}
button:hover { cursor: pointer; }
#messages { width: 100%; position: absolute; z-index: 2; }
.warning, .error {
    background: red; 
    color: darkred;
}
.success {
    background: darkgreen;
    color: lightgreen;
}
.info {
    background: blue;
    color: lightblue;
}
.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 1.5em 1em;
    box-sizing: border-box;
    z-index: 2;
}
.message button {
    padding: 1em;
    background: transparent;
    color: lightgreen;
}
#responsive-nav-button { color: var(--main-two); }
/* End of General Styling */

/* Navigation Styling */
nav {
    /* flex box for centering items center of navbar */
    display: flex;
    align-items: center;
    /* pushes items away from each other */
    justify-content: space-between;
    /* want to occupy 100% of X axis */
    width: 100%;
    /* no constraints on height, let it flow like water */
    height: auto;
    /* since space-between is pushing items away we dont want them touching the left/right edges of nav */
    padding: 0 4em;
    /* including the padding in the calculation for width/height of nav (otherwise overflow on x axis will occur) */
    box-sizing: border-box;
    color: var(--accent);
    background: transparent;
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
}
nav img { transition: opacity .5s ease; }
nav ul {
    /* want to align items in a row vertically centered */
    display: flex;
    align-items: center;
}
nav ul li{
}
/* provide space on even lis */
nav ul li:nth-of-type(even) { margin: 0 .5em; }
.current {
    /* 1.6em on bottom since .4em of space is being used by the border bottom */
    padding: 2em 0 1.6em 0;
    border-bottom: .4em solid var(--accent);
}
.current:hover { border-bottom-color: #e9c56a8f; }
/* End of Navigation Styling */


/* Start of Footer Styling */
footer {
    background: var(--main);
    max-width: 100%;
    padding: 2em 4em 4em 4em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: lightgrey;
}
menu {
    margin: 0; padding: 0;
}
footer h2 { margin-bottom: .5em; font-family: 'Times New Roman', Times, serif; }
footer a { color: lightgrey; }
footer .navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: .5em;
}
.navigation ul:nth-of-type(even) {
    margin: 0 1.5em;
}
.social {
    display: inline-block;
    padding: 1em;
    background: gray;
    border-radius: 50%;
}
.copyright {
    position: absolute;
    bottom: 5%;
    left: 3%;
}
#quote {
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%, -50%);
}
/* End of Footer Styling */

