/* Start of Media Styling */
@media screen and (max-width: 1300px) {
    main .what-information {
        width: 90%;
    }
    #item-table th {
        font-size: 3em !important;
    }
    #item-table td {
        margin-top: 1em;
    }
}
@media screen and (max-width: 700px) {
    #item-table th {
        font-size: 2.5em !important;
    }
}
@media screen and (max-width: 600px) {
    #item-table th {
        font-size: 2em !important;
    }
    #item-table td {
        margin-top: .7em;
    }
}
@media screen and (max-width: 500px) {
    main #about h1 {
        font-size: 3.5em;
    }
    #responsive-nav-button {
        display: initial;
    }
    nav {
        align-items: flex-start;
        position: initial;
        padding: 1em 2em;
    }
    .social { margin: .5em; }
    nav section {
        text-align: right;
    }
    nav ul {
        display: none;
        flex-direction: column;
        align-items: flex-end;
    }
    nav ul li {
        padding: 0; 
        margin: .3em 0;
        padding: 0;
    }
    nav ul li:nth-of-type(even) {
        margin: 0;
    }
    .current {
        border: none;
        padding: 0;
        border-left: 5px solid var(--accent);
        padding-left: .3em;
    }
    #quote {
        display: none;
    }
    main #item-table th {
        font-size: 1.5em !important;
    }
    main #item-table td {
        margin-top: .5em;
        width: 80%;
    }
    #note-edit-button {
        bottom: 2%;
    }
    footer { padding: 2em; flex-direction: column; }
    #what .what-data {
        width: 80%;
    }
    main .step {
        max-width: 90%; width: 100%;
    }
    main #howto {
        max-width: 90%;
    }
    .copyright {
        position: initial; text-align: center;
    }
    #contact { flex-direction: column; }
    main .what-information-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    main .what-information {
        width: 90%;
        flex-direction: column;
    }
    main .what-data:nth-of-type(even) { margin: 2em 0; }
    .combined-image { display: none; }
    main #about p {
        max-width: 90%;
    }
}
/* End of Media Styling */