/* Start of Note Styling */
#item-table .note-title-row { margin: 0; margin-bottom: 5em; }
#item-table .note-title-row th {
    opacity: 1;
    display: flex;
    align-items: center;
}
#item-table .note-title-row h2 {
    font-size: .5em;
}
.note-title-row input {
    background: transparent;
    border: none; border-bottom: 3px solid black;
    font-size: .3em;
    margin-left: 1em;
    color: black;
}
.note-title-row input:focus {
    outline: none;
    border-bottom-color: gray;
}
textarea, input {
    width: 100%;
    background: transparent;
    border: 2px solid white;
    color: white;
}
textarea::placeholder {
    color: lightgrey;
}
#links-data .table-data:nth-of-type(even) {
    border-bottom: 1px solid white;
    padding-bottom: 1em;
    margin: 1em 0;
}
#links-data .table-data:nth-of-type(odd) {
    border-bottom: 1px solid white;
    padding-bottom: 1em;
}
#links-data .table-data:nth-last-child(1) {
    border: none;
    padding: 0;
}
.links-separator {
    width: 20%;
    border-color: gray;
    margin: .5em 0;
}
.link-container button {
    background: transparent;
    border: 1px solid white;
    border-radius: .5em;
    color: white;
    font-size: .6em;
}
.link-container .delete-link {
    background: red; 
    color: darkred; 
    border: none;
}
/* End of Note Styling */
